<div class="top-navbar clear">
  <ul class="links">
    <li class="text"><a href="https://plus.google.com/u/0">+Chase</a></li>
    <li class="text"><a href="https://mail.google.com/mail">Gmail</a></li>
    <li class="text"><a href="https://www.google.com/imghp">Images</a></li>
    <li class="notifications"><a><%= image_tag "notification-bell-gray.png" %></a></li>
    <li class="text share"><a class="share-link">Share</a></li>
    <li class="text"><a><%= image_tag "profile-pic.png" %></a></li>
  </ul>
</div>
<div class="center-search-box">
  <div class="google-logo"><%= image_tag "logo11w.png", width: "269", height: "95" %></div>
  <form class="search-area">
    <div class="bar-wrapper">
      <input type="text">
      <div class="microphone-icon"><%= image_tag "microphone.png" %></div>
    </div>  
  </form>
  <a class="search-button">Google Search</a>
  <a class="feeling-lucky-button">I'm Feeling Lucky</a>
</div>
<div class="bottom-navbar">
  <ul class="left-options">
    <li><a href="https://encrypted.google.com/intl/en/ads">Advertising</a></li>
    <li><a href="https://encrypted.google.com/services">Business</a></li>
    <li><a href="https://encrypted.google.com/intl/en/about.html">About</a></li>
  </ul>
  <ul class="right-options">
    <li><a href="https://encrypted.google.com/intl/en/policies">Privacy & Terms</a></li>
    <li><a href="https://encrypted.google.com/preferences">Settings</a></li>
  </ul>
</div>
