/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

.clear:before, .clear:after {
  content: " ";
  display: table;
 }

.clear:after {
  clear: both;
 }

html {
  height: 100%;
  font-size: small;
  margin: 0;
}

body {
  height: 100%;
  color: #222;
  margin: 0;
  padding: 0;
  position: relative;
}

ul {
    list-style: none;
  }

.top-navbar {
  width: 100%;
  font: 13px/27px Arial,sans-serif;

  .links {
    float: right;
    color: #404040;
    padding-right: 25px;

    .notifications {
      padding-top: 4px;
      padding-left: 16px;

      a {
        margin-right: 6px;
      }
    }

    .share {
      padding-left: 16px;
    }

    .text {
      line-height: 34px;
    }

    .text:last-of-type {
      padding-left: 9px;
    }

    li {
      float: left;
      padding-left: 15px;

      a {
        text-decoration: none;
      }

      a:visited {
        color: #404040;
      }

      .share-link {
        padding: 7.5px 13px;
        background: rgba(0,0,0,0.04);
      }
    }
  }
}

.center-search-box {
  width: 100%;
  text-align: center;
  padding-top: 119px;

  .search-area {
    width: 572px;
    margin: 0 auto;
    margin-top: 20px;

    .bar-wrapper {
      width: 100%;
      height: 30px;
      border: solid 1px #cdcdcd;
      position: relative;

      input {
        width: 100%;
        height: 100%;
        border: solid 1px transparent;
        font-size: 16px;
      }

      .microphone-icon {
        position: absolute;
        right: 3px;
        top: 3px;
      }
    }
  }

  a {
    display: inline-block;
    height: 29px;
    min-width: 54px;
    margin: 16px 7px;
    padding: 0 8px;
    border: solid 1px #dcdcdc;
    border-color: rgba(0,0,0,0.1);
    background: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    font: bold 11px/27px Arial,sans-serif;
    color: #444;
    line-height: 26px;
  }

  a:last-of-type {
    margin-left: 6px;
  }
}

.bottom-navbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 41px;
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  font-size: 10pt;
  font-family: arial,sans-serif;
  color: #666;
  

  .left-options {
    float: left;
    padding-left: 30px;

    li:not(:first-of-type) {
      padding-left: 31px;
    }
  }

  .right-options {
    float: right;
    margin-right: 30px;

    li:last-of-type {
      padding-left: 31px;
    }
  }

  li {
    float: left;
    line-height: 14px;
  }

  a {
    text-decoration: none;
    color: #666;
  }
}